<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects Page</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>

    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
    />

    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  </head>
  <body>
    <header>
      <nav>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'collection' %}" class="me-auto">Collection</a>

        <a href="{% url 'home' %}">
          <img src="{% static 'images/logo.png' %}" alt="logo" class="logo">
        </a>

        <a href="{% url 'contact' %}" class="ms-auto">contact</a>
        <a href="{% url 'projects' %}">Projects</a>
      </nav>
    </header>

    <section>
      <h1>This is the Projects Page</h1>
    </section>
  </body>
</html>
